<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kinnigoli</title>
    <link href="/assets/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <%- include('partials/nav') %>
    <h1>You can contact us here!!</h1>
    <p>support and contact us at abc@d.com</p>
    <!-- <p>Department is <%= qs.dept%></p>
    <p>person name <strong><%= qs.name%></strong></p> -->
    <form id="contact-id" action="/contact" method="POST">
      <label for="who">who do you want to contact?</label><br />
      <input type="text" name="who" value="<%= qs.name%>"/><br />
      <label for="dept">Which department?</label><br />
      <input type="text"  name="dept" value="<%= qs.dept%>" /><br>
      <label for="email">email</label><br />
      <input type="email" name="email" value= "<%= qs.email%>" /><br />
      <input type="submit"  value="submit" />
    </form>
  </body>
</html>
