<!DOCTYPE html>
<html lang="en">
  <head>
    
  
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/assets/style.css" rel="stylesheet" type="text/css" />

    <title>Kinnigoli</title>
  </head>
  <body>
    <%- include('partials/nav') %>
    <h1>Welcome to the profile of <%= person %></h1>
    <p><strong>age:</strong><%= data.age %></p>
    <p><strong>status:</strong><%= data.status %></p>
    <h2>hobbies</h2>
    <ul>
      <% data.hobbies.forEach(function(hobby){ %>
      <li><%=hobby%></li>
      <% }) %>
    </ul>
  </body>
</html>
